.blue {
    background-color: rgb(129, 129, 255);
    padding: 20px;
}

.yo {
    padding: 50;
    margin: 20;
    background-color: rgb(255, 255, 119);
}

.flex {
    display: flex;

}
.purple{
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(255, 255, 119);
    padding-right: 190px;
}

.green{
    padding-bottom: 150px;
}


.pink{
    padding-left: 200px;
}

.brown{
    padding-bottom: 170px;
}

.orange{
    padding-bottom: 335px;
}

.black{
    padding-bottom: 200px;
}

.white{
    padding-left: 150px;
}